
.container {
    height: 300px;
    width: 300px;
    background-color: darkgrey;
    border: 5px solid green;
    /* position: relative; */

   display: grid;
   /* grid-template-columns: repeat(3 , 1fr); */
   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
   /* grid-template-rows:  100px 100px 10px ; */
   /* gap: 20px; */

   grid-template-areas: 
      "header header header"
      "part1 part2 part3"
      "footer footer footer"
        
   ;

}



.box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}




.box1 {
    background-color: red;
    grid-area: header;
}


.box2 {
    background-color: aqua;
    grid-area: part1;
}



.box3 {
    background-color: blue;
    grid-area: part2;
}

.box4{
    background-color: brown;
    grid-area: part3;
}

.box5{
    background-color: yellow;
    grid-area: footer;
}




/*
learn : Stacking context, Z-index 

*/