{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--a school management system-->
    <h1>This is our first html rendering</h1>
    <h1>Welcome to the School Management System</h1>
    <p>This is a simple web application to manage school data.</p>
    <a href="/student/home/">Go to Student Home</a>
    <a href="/teacher/home/">Go to Teacher Home</a> 


    <img src="{% static 'images/images.jpg' %}" alt="School Image" />
    

   
</body>
</html>