h1{
    color: brown;
}


#faokotha{
    color: magenta;
}


.cls1 {

    color: green;
    color: brown; /*sobar shesher color tai ashbe, concept: casceding*/
    

}



/*  
 
tag - tag
#id
.class


learn - selector specificity -
*/