.bg{

    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUlRkWs0XY72Fz_2rIxt8Px2Eew9Kch40ZT8OBiM38bEnIvIrzQwRjae7FT18vpIELq3Y&usqp=CAU) ;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}